@page "/wagens"
@using Blazerize_demo.Models
@using Blazerize_demo.Data

<div class="row p-2 border align-items-center" style="background-color: rgba(33, 37, 41, 0.03); color: var(--jama-text); min-height: 64px">
    <div class="col-12 col-sm-auto aligin-items-center">
        <h5 class="m-0 ps2">Wagens</h5>
    </div>
    <div class="col d-flex justify-content-end">
        <div>
            <div class="d-flex allign-items-center gap-3">
                <div class="form-group row m-0 d-flex align-items-center">
                    <DatePicker TValue="DateTime" @bind-Value="@SelectedDate" />
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <DataGrid TItem="Wagen" Data="@Wagens" Filterable="true" FilterMethod="DataGridFilterMethod.Contains" 
        Editable="false" Responsive="true" ReadData="@OnReadData">
        <ChildContent>
            <DataGridCommandColumn TItem="Wagen">
            </DataGridCommandColumn>
            <DataGridColumn TItem="Wagen" Field="Kenteken" Caption="Kenteken" />
            <DataGridColumn TItem="Wagen" Field="Versie" Caption="Versie" />
            <DataGridColumn TItem="Wagen" Field="Labels" Caption="Labels" />
            <DataGridColumn TItem="Wagen" Field="Online" Caption="Online" />
            <DataGridColumn TItem="Wagen" Field="Lock" Caption="Lock" />
            <DataGridColumn TItem="Wagen" Field="GeldigeLedigingen" Caption="GeldigeLedigingen" />
            <DataGridColumn TItem="Wagen" Field="NoReads" Caption="NoReads" />
            <DataGridColumn TItem="Wagen" Field="BlacklistContainers" Caption="BlacklistContainers" />
            <DataGridColumn TItem="Wagen" Field="TotaalKg" Caption="TotaalKg" />
            <DataGridColumn TItem="Wagen" Field="Diftar" Caption="Diftar" />
        </ChildContent>
        <EmptyTemplate>
            <Div Class="box">No records were found.</Div>
        </EmptyTemplate>
        <LoadingTemplate>
            <div class="box">
                <progress class="progress is-small is-primary" max="100">
                </progress>
            </div>
        </LoadingTemplate>
    </DataGrid>
</div>

@code {
    
}
