@page "/Wagens"

<div class="row p-2 border align-items-center" style="background-color: rgba(33, 37, 41, 0.03); color: var(--jama-text); min-height: 64px">
    <div class="col-12 col-sm-auto aligin-items-center">
        <h5 class="m-0 ps2">Wagens</h5>
    </div>
    <div class="col d-flex justify-content-end">
        <div>
            <div class="d-flex allign-items-center gap-3">
                <div class="form-group row m-0 d-flex align-items-center">
                    <DatePicker TValue="DateTime" @bind-Value="@SelectedDate"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border p-2">
    <h5 class="h5 ms-2">@Name</h5>
</div>



@code {
    DateTime SelectedDate = DateTime.Now;
    string Name = "Jama";
}

